body {
padding-top: 60px;
padding-bottom: 40px;
}
.navbar-inner {
    background: none;
    box-shadow: none;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #0066CC;
}
.navbar .nav > li > a {
    color: #0066CC;
    text-shadow: none;
}
.navbar .nav > li > a:hover {
    color: #333;
}

.front-page {
    margin-left: 165px;
}

.front-page .item {
    border-right: 1px dotted lightgray;
}

.front-page .span3 {
    height: 120px;
}